{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transacted</th>
        </thead>
        <tbody>
            {% for n in range(size) %}  
            <tr>
                <td>{{tlist[n].symbol}}</td>
                <td>{{tlist[n].shares}}</td>
                <td>{{tlist[n].priceatbuy | usd}}</td>
                <td>{{tlist[n].dt}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
